.container1{
  position: absolute;
  left:50%;
  top:50%;
}
.seconds{
  position:absolute;
  width:40px;
  height: 7px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 1em 0.13em #DDDDDD;
}
.container2{
  position: absolute;
  left:50%;
  top:50%;
}
.minutes{
  position:absolute;
  width:40px;
  height: 7px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 1em 0.13em #DDDDDD;
}
.container3{
  position: absolute;
  left:50%;
  top:50%;
}
.hours{
  position:absolute;
  width:40px;
  height: 7px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 1em 0.13em #DDDDDD;
}
.container4{
  position: absolute;
  left:50%;
  top:50%;
}
.days{
  position:absolute;
  width:40px;
  height: 7px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 0 1em 0.13em #DDDDDD;
}
